<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iot.simple">
    
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="30" />
    
    <application android:label="IoT Simple">
        <activity android:name=".Main" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
